{% extends 'base.html.twig' %}

{% set title = group.name %}

{% block content %}

    <div class="grid-row" id="vue-group" v-cloak>
        <div class="grid-100">
            <tabs>
                <tab id="group" :title="group.name">
                    <tab-group :group="group" @reload="reloadGroup"></tab-group>
                </tab>
                <tab id="groups" title="{{ 'group.membership' | trans }}" :counter="members.length">
                    <tab-members :members="members" @reload="reloadMembers"></tab-members>
                </tab>
            </tabs>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>eTraxis.groupId = {{ group.id | json_encode | raw }};</script>

    <script src="{{ asset('js/groups/view.js') }}"></script>

{% endblock %}
