{% extends 'base.html.twig' %}

{% set title = 'users' | trans %}

{% block content %}

    <div class="grid-row" id="vue-users" v-cloak>
        <div class="grid-100">

            <datatable name="users" :columns="columns" :data="users" :clickable="true" :checkboxes="false" @click="viewUser"></datatable>

        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{{ asset('js/users/index.js') }}"></script>

{% endblock %}
